@import url('https://fonts.googleapis.com/css?family=Press Start 2P&display=swap');

* {
    font-family: 'Press Start 2P', sans-serif; 
}
  
body {
    margin: 0;
    overflow: hidden; 
    width: 100%;
}

canvas {
    position: absolute;
    z-index: 1;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #00000000; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(41, 41, 41); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0); 
}